

   #nav{display: inline-block;vertical-align: top;}
   .logo(
    width: 23%;
    padding: 1%;
    text-align: center;
   )
   p ~ ul {width: 50%; <margin-left: auto;}
#heroimg {
    text-align: center;
   height: 600px; 
    padding: 200px;
}
#painting {
    max-width: 200px; 
}
.footer{
    background color: #373738;
    padding: center; p ~ ul;ui
}
.footer{inline-block; vertical-align:top;}
.footer{padding-align:center;
li elements}

p {
    color: #ff0000;
}


   







